*{
    margin: 0px;
    font-family: Arial;
    border: border-box;

}
.login{
    padding: 14px 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 19px;
    align-items: center;
}
.navbar{
    background-color: transparent !important;
    padding: 0px;
}
.navbar .container{
    justify-content: center;
}
.box1{
    height: 360px;
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px 26px !important;
    justify-content: center;
    margin-top: 14px;
}
.sign-in{
    font-weight: 400;
    font-size: 28px;
}
.form-label{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 2px;
    margin-left: 2px;
}
.btn-primary{
    background-color: #FFD814;
    border-color: #FCD200;
    color: #0F1111;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    width: 294px;
    height: 29px;
}
.btn:hover{
    background-color: red;
}
.text-1{
    margin-top: 18px;
    font-size: 12px;
}
span{
    color:#0066c0
}
.help-sec{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Help{
font-size: 13px;
cursor: pointer;
color: #0066c0;

}
.Help:hover{
    cursor: pointer;
    color: #c45500;

}
.hr-line{
    margin-top: 22px;
    margin-bottom: 14px;
    height: 1px;
    background-color: #ddd;
}
.text-2{
    font-size: 13px;
    font-weight: 700;
}
.text-3{
    margin-top: 3px;
    font-size: 13px;
    cursor: pointer;
    color: #0066c0;
}
.text-3:hover{
    cursor: pointer;
    color: #c45500;

}
.box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 22px;
}
.frist-line{
    width: 120px;
    height: 1px;
    background-color: #ddd;
}
.second-line{
    width: 120px;
    height: 1px;
    background-color: #ddd;
}
.text4{
    font-size: 12px;
    color: #767676;
    font-weight: 400;
}
.btn-light{
    margin-top: 14px;
    height: 29px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: transparent;
    font-size: 13px;
    color: #0F1111;
}
.footer-line{
    margin-top: 26px;
    height: 44px;
    background-color: #E6E6E6;
    width: 80.0em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .04) 3px, transparent);
}
.footer-line::after{
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
    content: "";
}
.box3{
    display: flex;
    gap: 25px;
    z-index: 1;
    margin-top: -18px;
}
.f-text{
    font-size: 11px;
    color:#0066c0;
    cursor: pointer;
}
.f-text:hover{
    cursor: pointer;
    color: #c45500;
}
.copywrite-text{
    margin-top: 5px;
    font-size: 11px;
    color: #555;
}
.g-singin2{
    height: 6px;
    width: 40px;
}
.google-singin{
    position: absolute;
    top: 153px;
}